apport_python_hook==0.1.0
BeaEnginePython==3.1.0
bert_score==0.3.13
capstone==5.0.9
cerealizer==0.8.4
clr==1.0.3
coverage==7.15.0
Cython==3.2.8
distorm3==3.5.2
gi==0.8.1
gobject==0.1.0
huggingface_hub==1.19.0
ipython==8.12.3
jupyter_client==8.9.1
jupyter_server==2.20.0
matplotlib==3.8.2
nose==1.3.7
notebook==7.6.0
numpy==2.5.1
numpydoc==1.10.0
pandas==3.0.3
peft==0.19.1
pluggy==1.6.0
psyco==1.6
py==1.11.0
pyglet==2.1.15
PyOpenGL==3.1.10
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.11.0
Pyside==1.2.4
PySide==1.2.4
PySide2==5.15.2.1
PySide6==6.11.1
pytest_describe==3.2.0
setup==1.0
sip==6.15.3
SQLAlchemy==2.0.51
stackless==0.0.1
tensorboard==2.20.0
torch==2.11.0
traitlets==5.15.1
transformers==5.12.1
trl==1.6.0
unsloth==2026.7.2
weasyprint==69.0
websockets==16.0
wheel==0.47.0
